<!doctype html>
<html lang='en'>
	<head>
		<meta charset="utf-8">
		<title>The Wall</title>
	</head>
	<body>
		<h3>{{flash}}</h3>
		{% with messages = get_flashed_messages() %}
	            {% if messages %}
	                {% for message in messages %}
	                    <p>{{ message }}</p>
	                {% endfor %}
	            {% endif %}
	        {% endwith %}
		<h2>Login</h2>
		<form action='/login' method='POST'>
			<label for="email">Email Address:<input type="text" name="email" id="email"></label>
			<label for="password">Password:<input type="text" name="password" id="password"></label>
			<input type="submit" value="Login">
		</form>
		<hr>
		<h2>Register</h2>
		<form action='/register' method='POST'>
			<label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
			<label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
			<label for="email">Email Address:<input type="text" name="email" id="email"></label>
			<label for="password">Password:<input type="text" name="password" id="password"></label>
			<input type="submit" value="Register">
		</form>
		<hr>

	</body>
</html>