<!doctype html>
<html lang='en'>
	<head>
		<meta charset="utf-8">
		<title>The Wall</title>
	</head>
	<body>
		<div class='navbar'>
			<h1>CodingDojo Wall</h1>
			<h4>Welcome {{session['first_name']}}</h4>
			<form action = '/' method="get">
				<button name='action' value='logout'>Log off</button>
			</form>
			<hr>
		</div>
			<form action = '/message' method="post">
				Post a message:<br>
				<input type="text" name="message" id="message">
				<br><input type="submit" value="Post a Message">
			</form>
			  
		<div>
			{% for message in messages %}
				<h5>{{message['first_name']}} {{message['last_name']}} - {{message['created_at']}}</h5>
				<p>{{message['message']}}</p>
				{% for comment in comments %}
					<h5>{{username}}{{created_at}}</h5>
					<p>{{comment}}</p>
					<form action = '/comment' method="post">
						Post a comment:<br>
						<input type="text" name="comment" id="comment">
						<br><input type="submit" value="Post a Comment">
					</form>
				{% endfor %}
			{% endfor %}
		</div>
	</body>
</html>



